header {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

nav {
  margin-top: 1rem;
}

nav a {
  margin-right: 1rem;
  display: inline-block;

  text-decoration: none;
  color: #e5e5e5;
}

.active {
  text-decoration: underline;
  color: #e50914;
}
